* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.login-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #eaf2ff, #f7faff);
}

.login-card {
  width: 420px;
  background: white;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  text-align: center;
}

.logo {
  font-size: 45px;
  margin-bottom: 10px;
}

.login-card h1 {
  color: #173b70;
  font-size: 28px;
  margin-bottom: 5px;
}

.login-card h2 {
  color: #315d96;
  font-size: 20px;
  margin-bottom: 15px;
}

.welcome {
  color: #777;
  font-size: 14px;
  margin-bottom: 30px;
}

.login-card form {
  text-align: left;
}

.login-card label {
  display: block;
  margin-bottom: 7px;
  color: #333;
  font-weight: bold;
}

.login-card input {
  width: 100%;
  padding: 13px;
  margin-bottom: 18px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 15px;
  outline: none;
}

.login-card input:focus {
  border-color: #315d96;
}

/* Password box */
.password-box {
  position: relative;
  width: 100%;
}

/* Password input */
.password-box input {
  width: 100%;
  padding: 13px 50px 13px 13px;
  margin-bottom: 18px;
}

/* Eye button */
.password-box .password-toggle {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);

  width: 40px;
  height: 40px;

  padding: 0;
  margin: 0;

  border: none;
  border-radius: 50%;

  background: transparent;
  color: #173b70;

  font-size: 19px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* Eye button hover */
.password-box .password-toggle:hover {
  background: #eef4ff;
  color: #315d96;
}

/* Login button */
.login-card form > button[type="submit"] {
  width: 100%;
  padding: 13px;
  border: none;
  border-radius: 8px;
  background: #173b70;
  color: white;
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
}

.login-card form > button[type="submit"]:hover {
  background: #315d96;
}

.forgot {
  text-align: right;
  margin-bottom: 20px;
}

.forgot a {
  color: #315d96;
  text-decoration: none;
  font-size: 14px;
}

.message {
  margin-top: 15px;
  color: green;
  font-weight: bold;
}

.register {
  margin-top: 25px;
  color: #666;
  font-size: 14px;
}

.register a {
  color: #173b70;
  font-weight: bold;
  text-decoration: none;
}